:root {
    --dddark-blue:#516284;
    --lynch: #7b869d;
    --santas-gray: #a3a4b0;
    --iron: #c0c4c5;
    --grey: #e4e2dd;
    --card-background: #f4f3f1;
}

@media (min-width: 992px) {
    
    .page {
        margin-top: 12vh;
    }

    #navbar-top > nav > a > img {
        max-height: 8vh;
        min-height: 8vh;
    }

    #navbar-top {
        background-color: white;
        height: 12vh;
    }
    
    #navbar-top > nav {
        margin: 0 5vw 0 5vw;
        border-bottom: 1px solid var(--dddark-blue);
    }

    #navbar-top > nav .nav-item-text {
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
        padding: 2vh 2vw 2vh 2vw;
    }

    #navbar-top.shrink {
        background-color: white;
        height: 8vh;
        transition: all 0.4s ease-in-out;
    }
    
    #navbar-top .shrink {
        margin: 0 5vw 0 5vw;
        height: 8vh;
    }

    #navbar-top .shrink > a > img {
        max-height: 5vh;
        min-height: 5vh;
        transition: all 0.4s ease-in-out;
    }

    #navbar-top > .shrink .nav-item-text {
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
        padding: 1vh 2vw 1vh 2vw;
        transition: all 0.4s ease-in-out;
    }

    #frontpage_carousel {
        min-height: 58vh;
        max-height: 58vh;
        padding-top: 8vh;
    }

    #frontpage_carousel > div {
        min-height: 40vh;
        max-height: 40vh;
    }

    #frontpage_carousel > p {
        min-height: 10vh;
        max-height: 10vh;
        padding-top: 2vh;
        padding-bottom: 3vh;
        font-size: 4vh;
        font-family: 'Nunito', sans-serif;
        color: white;
        margin-bottom: 0;
    }

    .front-carousel-item {
        min-height: 40vh;
        max-height: 40vh;
    }

    #front_page {
        margin-bottom: 10vh;
    }

    .homepage-title {
        min-height: 20vh;
        max-height: 20vh;
        padding-top: 5vh;
    }

    .homepage-content {
        min-height: 60vh;
    }

    .home-para {
        min-height: 30vh;
        font-size: 2.18vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    .home-img .img-item {
        padding: 0vw 2vw;
    }

    .home-img img {
        min-height: 15vh;
        max-height: 15vh;
    }

    .home-img .image-label {
        margin-top: 10px;
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    #home_page {
        background-color: rgb(252, 252, 252);
    }

    #navbar-bottom {
        min-height: 6vh;
        max-height: 6vh;
        background-color: var(--santas-gray);
    }

    #navbar-bottom .nav-link-bottom {
        font-size: 1.8vh;
        font-family: 'Nunito', sans-serif;
        color: white;
        padding: 0vh 3.5vw;
    }

    #news_page {
        background-color: rgb(252, 252, 252);
        padding-bottom: 10vh;
        margin-bottom: 20vh;
    }

    #news-page-title {
        padding-top: 15vh;
        margin-bottom: 1vh;
        border-bottom: 1px solid var(--dddark-blue);
    }

    #news-page-title > h6 {
        font-size: 1.5vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    #news-items-content {
        background-color: white;
        min-height: 50vh;
        padding: 3vh 0vw;
    }

    #news-items-content > .news-item {
        min-height: 40vh;
        max-height: 40vh;
    }

    #news-items-content > .news-item > .card {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        background-color: var(--dddark-blue);
        color: white;
        border: none;
        border-radius: 0;
        box-shadow: 1vh 1vh var(--santas-gray);
    }

    #news-items-content > .news-item > .card > .card-img-top {
        min-height: 25vh;
        max-height: 25vh;
    }

    #news-items-content > .news-item > .card > .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 2vh 1vw;
        font-size: 2vh;
    }

    #news-items-content > .news-item > .card > .card-body > .card-title {
        margin-bottom: 2vh;
    }

    #news-items-content > .news-item > .card > .card-body > .card-subtitle {
        font-weight: bold;
    }

    #news-items-content > .news-item > .card > .card-body > .card-button {
        position: absolute;
        right: 0.5vw;
        bottom: 1vh;
        font-size: 1.63vh;
        height: 4vh;
        text-align: center;
    }

    /* ------------ */

    .sticky-right {
        display: block;
    }
    .sticky-left {
        display: block;
    }

    #recipeCarousel > .carousel-inner .carousel-item-right.active,
    #recipeCarousel > .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

    #recipeCarousel > .carousel-inner .carousel-item-left.active,
    #recipeCarousel > .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}