:root {
    --dddark-blue:#516284;
    --lynch: #7b869d;
    --santas-gray: #a3a4b0;
    --iron: #c0c4c5;
    --grey: #e4e2dd;
    --white: #ffffff;
}

@media (min-width: 1200px) {

    .page {
        margin-top: 12vh;
        background-color: var(--grey);
    }

    #navbar-top > nav > a > img {
        max-height: 8vh;
        min-height: 8vh;
    }

    #navbar-top {
        background-color: var(--white);
        height: 10vh;
    }

    #navbar-top > nav {
        margin: 0 5vw 0 5vw;
        border-bottom: 1px solid var(--dddark-blue);
    }

    #navbar-top > nav .nav-item-text {
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
        padding: 2vh 2vw 2vh 2vw;
    }

    #navbar-top > nav .dropdown-menu > .nav-item:hover {
        font-weight: bold;
        color: var(--white);
        background-color: var(--iron);
    }

    #navbar-top .shrink {
        background-color: var(--white);
        height: 8vh;
        transition: all ease-in-out;
        padding-bottom: 1vh;
    }

    #navbar-top .shrink > a > img {
        max-height: 5vh;
        min-height: 5vh;
        transition: all ease-in-out;
    }

    #navbar-top > .shrink .nav-item-text {
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
        padding: 1vh 2vw 1vh 2vw;
        transition: all ease-in-out;
    }

    #frontpage_carousel {
        max-height: 58vh;
        padding-top: 8vh;
        background-color: var(--dddark-blue);
    }

    #frontpage_carousel > p {
        min-height: 10vh;
        max-height: 10vh;
        padding-top: 2vh;
        padding-bottom: 3vh;
        font-size: 4vh;
        font-family: 'Nunito', sans-serif;
        color: var(--white);
        margin-bottom: 0;
    }

    .carousel-inner {
        max-height: 40vh;
    }

    #front_page {
        margin-bottom: 10vh;
    }

    .page-title {
        min-height: 10vh;
        max-height: 10vh;
        padding-top: 2vh;
    }

    .front-page-title {
        min-height: 20vh;
        max-height: 20vh;
        padding-top: 5vh;
    }

    #home_page {
        margin-bottom: 10vh;
    }

    .homepage-content {
        min-height: 60vh;
    }

    .homepage-content > .homepage-intro {
        min-height: 30vh;
        font-size: 2.18vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    .homepage-content > .home-img > .img-item {
        padding: 0vw 2vw;
    }

    .homepage-content > .home-img > .img-item > img {
        min-height: 15vh;
        max-height: 15vh;
    }

    .homepage-content > .home-img > .img-item > p {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    #navbar-bottom {
        min-height: 6vh;
        max-height: 6vh;
        background-color: var(--santas-gray);
    }

    #navbar-bottom .nav-link-bottom {
        font-size: 1.8vh;
        font-family: 'Nunito', sans-serif;
        color: var(--white);
        padding: 0vh 3.5vw;
    }

    #news_page {
        padding-bottom: 10vh;
        min-height: 82vh;
        max-height: 82vh;
    }

    #news-page-title {
        padding-top: 15vh;
        margin-bottom: 1vh;
        border-bottom: 1px solid var(--dddark-blue);
    }

    #news-page-title > h6 {
        font-size: 1.5vh;
        font-family: 'Nunito', sans-serif;
        color: var(--dddark-blue);
    }

    #news-items-content {
        background-color: var(--white);
        min-height: 50vh;
        padding: 3vh 0vw;
    }

    #news-items-content > .news-item {
        min-height: 40vh;
    }

    #news-items-content > .news-item > .card {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        background-color: var(--dddark-blue);
        color: var(--white);
        border: none;
        border-radius: 0;
        box-shadow: 1vh 1vh var(--santas-gray);
    }

    #news-items-content > .news-item > .card > .card-img-top {
        max-height: 25vh;
    }

    #news-items-content > .news-item > .card > .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 2vh 1vw;
        font-size: 2vh;
        margin-bottom: 4vh;
    }

    #news-items-content > .news-item > .card > .card-body > .card-title {
        margin-bottom: 2vh;
    }

    #news-items-content > .news-item > .card > .card-body > .card-subtitle {
        font-weight: bold;
    }

    #news-items-content > .news-item > .card > .card-body > .card-button {
        position: absolute;
        right: 0.5vw;
        bottom: 1vh;
        font-size: 1.63vh;
        height: 4vh;
        text-align: center;
    }

    #who_page {
        margin-bottom: 10vh;
    }

    #who_page > .container {
        min-width: 85vw;
        max-width: 85vw;
    }

    .who-page-content {
        margin-bottom: 2vh;
        min-height: 40vh;
    }

    .who-page-content p {
        font-size: 2.18vh;
        color: var(--dddark-blue);
    }

    .who-page-content a {
        max-height: 5vh;
    }

    .who-page-content .img-shadow-bl {
        margin-left: 2vw;
        margin-bottom: 4vh;
        /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
        box-shadow: -2vw 3.5vh var(--dddark-blue), -1.8vw 4vh var(--santas-gray);
    }

    .img-shadow-tl {
        margin-left: 2vw;
        margin-top: 4vh;
        box-shadow: -2vw -3.5vh var(--dddark-blue), -1.8vw -3vh var(--santas-gray);
    }

    .caption-img {
        margin-top: 1.2vh;
        margin-left: 2vw;
        color: var(--white);
        font-size: 1.6vh;
        position: absolute;
    }

    #login_page > .container {
        min-height: 82vh;
        max-height: 82vh;
        padding-top: 6vh;
    }

    #login_page > .container > .login-page {
        background-color: var(--white);
        min-height: 80vh;
        max-height: 80vh;
    }

    #publications_page > .container {
        min-height: 82vh;
        max-height: 82vh;
        padding-top: 6vh;
    }

    #publications_page > .container > .publications-page {
        background-color: var(--white);
        min-height: 80vh;
        max-height: 80vh;
    }

    #map_page > .container {
        min-height: 82vh;
        max-height: 82vh;
        padding-top: 6vh;
    }

    #map_page > .container > .map-page {
        background-color: var(--white);
        min-height: 80vh;
        max-height: 80vh;
    }

    .logo-slideshow-container {
        padding-top: 6vh;
        background-color: var(--white);
    }

    .logo-slideshow {
        border-top: var(--grey) 1px solid;
        border-bottom: var(--grey) 1px solid;
        height: 160px;
        max-width: 100vw;
        margin: 0vh 0vw;
        overflow: hidden;
    }

    .logo-slideshow > div {
        height: 160px;
        width: 3260px;
        background: url(../images/LOGOS_PARTNER/slideshow.png);
        background-size: auto auto;
    }

    .logo-slideshow .mover {
        animation: moveSlideshow 20s linear infinite;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @keyframes moveSlideshow {
        100% {
            transform: translateX(-49%);
        }
    }

    .padding-nav-bottom {
        padding-bottom: 16vh;
    }

    #partners_page .container {
        min-width: 70vw;
        max-width: 70vw;
    }

    .partners-page-content {
        background-color: var(--white);
        padding: 3vh 3vw;
    }

    .partners-page-content > .partners-item {
        margin-bottom: 2vh;
    }

    .partners-page-content > .partners-item > .card {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        background-color: var(--grey);
        border: none;
        border-radius: 0;
    }

    .partners-page-content > .partners-item > .card .card-img-top {
        height: 20vh;
    }

    .partners-page-content > .partners-item > .card > .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 2vh 1vw;
    }

    .partners-page-content > .partners-item > .card > .card-body .card-title {
        padding-top: 1vh;
        padding-bottom: 1vh;
        color: var(--dddark-blue);
        background-color: var(--white);
        font-size: 1.5vh;
    }

    .page-container {
        min-width: 90vw;
        max-width: 90vw;
    }

    #people_page > .container {
        min-width: 70vw;
        max-width: 70vw;
    }

    .people-page-content {
        background-color: var(--white);
        padding: 3vh 3vw;
    }

    .people-page-content > .people-item {
        margin-bottom: 2vh;
    }

    .people-page-content > .people-item > .card {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        background-color: var(--grey);
        border: none;
        border-radius: 0;
        min-height: 100%;
    }

    .people-page-content > .people-item > .card .card-img-top {
        padding: 2vh 2vw;
    }

    .people-page-content > .people-item > .card > .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 2vh 0.5vw;
    }

    .people-page-content > .people-item > .card > .card-body .card-title {
        padding-top: 1vh;
        padding-bottom: 1vh;
        color: var(--dddark-blue);
        background-color: var(--white);
        font-size: 1.5vh;
    }

    #objectives_page {
        padding-top: 6vh;
    }

    #objectives_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
        min-width: 70vw;
        max-width: 70vw;
    }

    .objectives-page-content {
        margin-bottom: 2vh;
    }

    .objectives-page-content p {
        font-size: 2vh;
        color: var(--dddark-blue);
    }


    #capacitybuildings_page {
        padding-top: 6vh;
    }

    #capacitybuildings_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
        min-width: 70vw;
        max-width: 70vw;
    }

    #capacitybuildings_page > .container .title {
        height: 8vh;
    }

    #capacitybuildings_page > .container .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #capacitybuildings_page > .container .row > .card-item {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-top: 2vw;
        margin-bottom: 2vw;
        background-color: var(--grey);
        background-clip: content-box;
    }

    #capacitybuildings_page > .container .row .capacity-card {
        background-color: var(--grey);
        border: none;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > a {
        color: var(--dddark-blue);
        font-size: 1.6vh;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > p {
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color: var(--white);
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > p {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > ul {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    #activities_page {
        padding-top: 6vh;
    }

    #activities_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
        min-width: 70vw;
        max-width: 70vw;
    }

    #activities_page > .container .row > .card-item {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-top: 2vw;
        margin-bottom: 2vw;
        background-color: var(--grey);
        background-clip: content-box;
    }

    #activities_page > .container .row .activity-card {
        background-color: var(--grey);
        border: none;
    }

    #activities_page > .container .row .activity-card > .card-body > a {
        color: var(--dddark-blue);
        font-size: 1.6vh;
    }

    #activities_page > .container .row .activity-card > .card-body > a > p {
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color: var(--white);
    }

    #activities_page > .container .row .activity-card > .card-body > p {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    #activities_page > .container .row .activity-card > .card-body > ul {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    #about_this_site_page .container {
    	min-height: 82vh;
        width: 60vw;
    	background-color: var(--grey);
    }

    #about_this_site_page  .card-body {
     	background-color: var(--grey);

    }
    #about_this_site_page  .page-title {
     	background-color: var(--grey);

    }

    #about_this_site_page p {
     	font-size: 1.7vh;
      	color: var(--dddark-blue);
    }

    .about_this_site-page-content {
    	background-color: var(--white);
    	margin: 3vh 5vw;
        padding: 3vh 3vw;
    }

    #contact_page p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.7vh;
        color: var(--dddark-blue);
    }

    #detailed_contact_page > .container {
        min-width: 50vw;
        max-width: 50vw;
        min-height: 82vh;
        background-color: var(--grey);
    }

    #detailed_contact_page > .container > .content {
        margin: 3vh 0vw;
        background-color: var(--white);
    }

    #detailed_contact_page > .container > .content > .row {
        margin: 3vh 2vw;
        padding: 3vh 2vw;
        background-color: var(--grey);
    }

    #detailed_contact_page > .container > .content > .row p {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    #detailed_partner_page > .container {
        min-width: 50vw;
        max-width: 50vw;
        min-height: 82vh;
        background-color: var(--grey);
    }

    #detailed_partner_page > .container > .content {
        margin: 3vh 0vw;
        background-color: var(--white);
    }

    #detailed_partner_page > .container > .content > .row {
        margin: 3vh 2vw;
        padding: 3vh 2vw;
        background-color: var(--grey);
    }

    #detailed_partner_page > .container > .content > .row p {
        font-size: 1.7vh;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }

    .contact-in-asia img {
        max-width: 10vw;
    }

    .contact-in-asia p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.7vh;
        color: var(--dddark-blue);
    }

    .contact-in-asia button {
        background-color: var(--dddark-blue);
        font-family: 'Open Sans', sans-serif;
        color: var(--white);
        font-size: 1.5vh;
        width: 100%;
    }

    .contact-in-eu img {
        max-width: 10vw;
    }

    .contact-in-eu p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.7vh;
        color: var(--dddark-blue);
    }

    .contact-in-eu button {
        background-color: var(--dddark-blue);
        font-family: 'Open Sans', sans-serif;
        color: var(--white);
        font-size: 1.5vh;
        width: 100%;
    }

    /* ------------ */

    .sticky-right {
        display: block;
        z-index: 1026;
    }

    .sticky-left {
        display: block;
        z-index: 1026;
    }

    #recipeCarousel > .carousel-inner .carousel-item-right.active,
    #recipeCarousel > .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

    #recipeCarousel > .carousel-inner .carousel-item-left.active,
    #recipeCarousel > .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}
