@font-face {
    font-family: 'AvenirNextLTPro';
    src: url(../fonts/avenir-next-lt-pro-regular_IF5h0/AvenirNextLTProRegular.otf);
}

@font-face {
    font-family: 'Corbel';
    src: url(../fonts/corbel/CORBEL.TTF);
}

@font-face {
    font-family: 'LucidaBright';
    src: url(../fonts/lucida-bright/LBRITE.TTF);
}

