// DEVICE RESOLUTION VARIABLES
$tablet-width: 768px;
$desktop-width: 992px;
$lg-desktop-width: 1200px;

@mixin lg-desktop {
	@media (min-width: $lg-desktop-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) and (max-width: #{$lg-desktop-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin phone {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin media($keys...) {
	@each $key in $keys {
  	@if ($key == phone) {
			@include phone {
		  		@content
			}
  	}
		@else if ($key == tablet) {
			@include tablet {
		  		@content
			}
  	}
	  	@else if ($key == desktop) {
			@include desktop {
		  		@content
			}
  	}
		@else if ($key == lg-desktop) {
			@include lg-desktop {
		  		@content
			}
  	}
	}
}

// COLOR VARIABLES
$dddark-blue: #516284;
$lynch: #7b869d;
$santas-gray: #c0c4c5;
$white: #ffffff;


// FONT-FACES
@font-face {
	font-family: 'AvenirNextLTPro';
  	src: url(../fonts/avenir-next-lt-pro-regular_IF5h0/AvenirNextLTProRegular.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextLTPro';
  	src: url(../fonts/avenir-next-lt-pro-bold/AvenirNextLTProBold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  	font-family: 'Corbel';
  	src: url(../fonts/corbel/CORBEL.TTF) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  	font-family: 'LucidaBright';
  	src: url(../fonts/lucida-bright/LBRITE.TTF) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LucidaBright';
	src: url(../fonts/lucida-bright/lucidabrightdemibold.ttf) format('truetype');
  	font-weight: bold;
  	font-style: normal;
}

// KEY FRAMES
@keyframes moveSlideshow {
	100% {
		transform: translateX(-70.114285714%);
	}
}

// GENERAL SETTINGS
body {
  	height: 100%;

	.page {
		background-color: rgb(252,252,252);

		@include media(lg-desktop, desktop) {
			margin-top: 12vh;
        	margin-bottom: 6vh;
		}

		@include media(tablet) {
			margin-top: 10vh;
        	margin-bottom: 4vh;
		}

		@include media(phone) {
			margin-top: 2vh;
			margin-bottom: 6vh;
		}

		> .container {
			@include media(lg-desktop) {
				width: 1000px;
			}
			@include media(desktop) {
				width: 800px;
			}
			@include media(tablet) {
				width: 700px;
			}
			@include media(phone) {
				padding-left: 10vw;
				padding-right: 10vw;
			}

			.page-title {
				padding: 2vh 0vw;

				> h5 {
					font-family: 'AvenirNextLTPro';
					font-size: 16px;
					color: $dddark-blue;
				}
			}

			.btn-more {
				background: rgb(192,196,197);
				color: $white;
				font-size: 9px;
				border-radius: 0;
				font-family: 'AvenirNextLTPro';
			}

			.card-border {
				border: 0.5px solid $santas-gray;
			}

			.hover-zoom:hover {
				img {
					transform: scale(1.2);
					transition: all .2s linear;
				}
			}
		}
	}
}

// NAVBAR TOP
#navbar-top {
	background-color: $white;

	@include media(lg-desktop, desktop, tablet) {
		max-height: 10vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	@include media(phone) {
		.navbar-nav {
			width: 200px;
		}
	}

	> nav {
		border-bottom: 1px solid $dddark-blue;
		@include media(lg-desktop, desktop, tablet) {
			align-items: end;
		}

		@include media(lg-desktop) {
			margin: 0 5vw;
		}

		@include media(desktop) {
			margin: 0 2vw;
		}

		@include media(tablet) {
			margin: 0 1vw;
		}

		@include media(phone) {
			margin: 0 2.5vw;
		}

		.nav-item-text {
			font-size: 11px;
			color: $dddark-blue;
			font-family: 'AvenirNextLTPro';
			padding: 10px 20px;

			@include media(lg-desktop, desktop, tablet) {
				width: 120px;
				text-align: center;
			}

			@include media(phone) {
				text-align: right;
			}
		}

		.dropdown {
			@include media(lg-desktop, desktop, tablet) {
				width: 120px;
			}
		}

		.dropdown:hover {
			.dropdown-menu{
				display: block; transition: all 0.8s ease-in-out;
			}
		}

		.nav-child {
			@include media(lg-desktop, desktop, tablet) {
				text-align: left;
				padding: 5px;
				background-color: rgb(239,238,235);
			}
		}

		.active-background,
		.nav-parent:hover {
			background-color: rgb(239,238,235);
			font-family: 'AvenirNextLTPro';
		}

		.my-custom-dropdown-menu {
			@include media(lg-desktop, desktop, tablet) {
				margin: 0;
				min-width: 120px;
				border-left-width: 0;
				border-right-width: 0;
			}

			> .nav-item:hover {
				font-family: 'AvenirNextLTPro';
				color: $white;
				background-color: rgb(192,196,197);
			}
		}

		> a {
			> img {
				@include media(lg-desktop, desktop) {
					max-height: 6vh;
				}

				@include media(tablet, phone) {
					max-height: 4vh;
				}
			}
		}
    }

	> .shrink {
		@include media(lg-desktop, desktop, tablet) {
			align-items: end;
			background-color: $white;
			padding-bottom: 1vh;
			margin-bottom: 10px;
		}

		> a {
			> img {
				@include media(lg-desktop, desktop) {
					max-height: 5vh;
				}
				@include media(tablet) {
					max-height: 4vh;
				}
			}
		}

		.nav-item-text {
			@include media(lg-desktop, desktop, tablet) {
				font-size: 11px;
				width: 120px;
				color: $dddark-blue;
				padding: 10px 20px;
				transition: all ease-in-out;
				text-align: center;
				font-family: 'AvenirNextLTPro';
			}
		}

		.active-background,
		.nav-parent:hover {
			background-color: rgb(239,238,235);
			font-family: 'AvenirNextLTPro';
		}

		.nav-child {
			@include media(lg-desktop, desktop, tablet) {
				text-align: left;
				padding: 5px;
				background-color: rgb(239,238,235);
			}
		}
    }

}

// NAVBAR BOTTOM
#navbar-bottom {
	background-color: rgb(192,196,197);
	height: 6vh;

	.nav-link-bottom {
        font-size: 10px;
        color: $white;
        padding: 0vh 3.5vw;
        font-family: 'AvenirNextLTPro';
    }
}

// STICKY CONTACT
.sticky {
	@include media(lg-desktop,desktop) {
		display: block;
		z-index: 1026;
		position: fixed;

		.sticky-item {
			font-size: 10px;
			color: white;
			min-width: 36px;
			background: $lynch;
			box-shadow: -0.5vh 0.5vh rgba(0, 0, 0, 0.3);
			font-family: 'Corbel';
			border-radius: 0;

			.sticky-text {
				font-size: 7px;
			}
		}

		.sticky-contact {
			> div {
				padding: 1vh 0.5vw;
			}

			img {
				max-width: 100px;
			}

			p {
				font-size: 9px;
				color: $dddark-blue;
				font-family: 'Corbel';
			}

			button {
				background-color: $dddark-blue;
				color: $white;
				font-size: 8px;
				width: 100%;
				font-family: 'AvenirNextLTPro';
			}
		}
	}

	@include media(tablet, phone) {
		display: none;
	}
}

#sticky-right-contact {
	top: 15vh;
	right: 0;
}

#sticky-right-link {
	bottom: 15vh;
    right: 0;
}

#sticky-left-contact {
	left: 0;
	top: 15vh;
}

// FRONT PAGE
#front_page {
	margin-bottom: 10vh;

	#frontpage_carousel {
		padding-top: 6vh;
        background-color: $dddark-blue;

		> p {
			padding-top: 2vh;
			padding-bottom: 3vh;
			font-size: 22px;
			color: $white;
			margin-bottom: 0;
			font-family: 'LucidaBright';
		}
	}

	#frontpageCarousel {
		> .carousel-inner {
			.carousel-item.active,
			.carousel-item-next,
			.carousel-item-prev {
				display: flex;
			}

			.carousel-item-right.active,
			.carousel-item-next {
				transform: translateX(33.33%);
			}

			.carousel-item-left.active,
			.carousel-item-prev {
				transform: translateX(-33.33%);
			}

			.carousel-item-left,
			.carousel-item-right {
				transform: translateX(0);
			}
		}

		> .carousel-control-prev,
		> .carousel-control-next {
			background-color: $white;
			opacity: 0.4;
			width: 33.33%;
		}

		> .carousel-control-prev:hover,
		> .carousel-control-next:hover {
			background-color: $white;
			opacity: 0.4;
			width: 33.33%;
		}
	}
}

// HOME PAGE
#home_page {
	> .container {
		.homepage-title {
			padding: 5vh 0vw;
			h5 {
				color: $dddark-blue;
			}
		}

		.homepage-content {
			.homepage-intro {
				font-size: 12px;
				color: $dddark-blue;
				padding-bottom: 5vh;
			}
			.home-img {
				> .img-item {
					@include media(phone) {
						margin-top: 1vh;
      					margin-bottom: 1vh;
					}

					> img {
						width: 70%;
						margin-bottom: 1vh;
					}

					> p {
						margin-top: 1vh;
						margin-bottom: 1vh;
						font-size: 12px;
						color: $dddark-blue;
						font-family: 'AvenirNextLTPro';
					}
				}
			}
		}
	}
}

// NEWS PAGE
#news_page {
	min-height: 82vh;

	> .container {
		#newspage-title {
			padding-top: 10vh;
			margin-bottom: 5vh;
			border-bottom: 1px solid $dddark-blue;

			> h6 {
				font-size: 9px;
        		color: $dddark-blue;
        		font-family: 'AvenirNextLTPro';
			}
		}

		#news-items-content {
			background-color: $white;
	        padding: 3vh 1vw;

			> .news-item {
				> .card {
					margin-left: 1.5vw;
					margin-right: 1.5vw;
					background-color: $dddark-blue;
					color: $white;
					border: none;
					border-radius: 0;
					box-shadow: 1vh 1vh 5px $santas-gray;

					> .card-body {
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						padding: 2vh 1vw;
						font-size: 11px;
						/* margin-bottom: 4vh; */

						> .card-title {
							margin-bottom: 2vh;
						}

						> .card-subtitle {
							font-weight: bold;
						}

						> .card-button {
							/* position: absolute; */
							/* right: 5px;
							bottom: 5px; */
							font-size: 9px;
							text-align: center;
							font-family: 'AvenirNextLTPro';
						}
					}
				}
			}
		}
	}
}

// EVENTS PAGE
#events_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
		.events-page {
			background-color: $white;
			min-height: 82vh;
			> .timeline {
				padding-top: 40px;
				@include media(lg-desktop,desktop,tablet) {
					padding-bottom: 100px;
				}
				@include media(phone) {
					padding-bottom: 40px;
				}
				ul {
					.li-time {
						list-style-type: none;
						position: relative;
						width: 1px;
						padding-top: 50px;
						background: $dddark-blue;
						@include media(lg-desktop,desktop,tablet) {
							margin: 0 30vw;
						}
						@include media(phone) {
							margin: 0 10vw;
						}
						.right {
							position: relative;
							bottom: 0;
							background: transparent;
							color: $dddark-blue;
							font-size: 12px;
							font-family: 'Corbel';
							@include media(lg-desktop,desktop,tablet) {
								left: -20px;
								width: 400px;
							}
							@include media(phone) {
								left: -30px;
								width: 200px;
							}
							a {
								color: $dddark-blue;
								font-size: 12px;
								font-family: 'Corbel';
							  }
						}
					}
					.li-time:nth-child(1) {
						padding-top: 100px;
					}
					.li-content {
						list-style-type: none;
						position: relative;
						width: 1px;
						background: $dddark-blue;
						@include media(lg-desktop,desktop,tablet) {
							margin: 0 30vw;
						}
						@include media(phone) {
							margin: 0 10vw;
						}
						.right {
							position: relative;
							bottom: 0;
							background: transparent;
							color: $dddark-blue;
							font-size: 12px;
							font-family: 'Corbel';
							@include media(lg-desktop,desktop,tablet) {
								right: -20px;
								width: 400px;
							}
							@include media(phone) {
								right: -10px;
								width: 200px;
							}
						}
					}
					.li-time::after {
						content: '';
						position: absolute;
						left: 50%;
						bottom: 0;
						transform: translateX(-50%);
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: inherit;
					}
					li {
						> div {
							@include media(lg-desktop,desktop,tablet) {
								width: 1000px;
							}
							@include media(phone) {
								width: 100vw;
							}
						}
						.left {
							position: relative;
							bottom: 0;
							/* padding: 15px; */
							background: transparent;
							color: $dddark-blue;
							font-size: 12px;
							font-family: 'Corbel';
							@include media(lg-desktop,desktop,tablet) {
								left: -80px;
							}
							@include media(phone) {
								left: -70px;
							}
						}
					}
				}
			}
		}
	}
}

// WHO PAGE
#who_page {
	min-height: 82vh;

	@include media(desktop,tablet,phone) {
		padding-bottom: 6vh;
	}

	> .container {
        width: 90vw;

		.who-page-content {
			margin-top: 2vh;
			margin-bottom: 2vh;

			p {
				font-size: 14px;
				color: $dddark-blue;

				@include media(desktop,tablet) {
					padding-top: 20px;
      				padding-bottom: 20px;
				}
			}

			.overview-button {
				margin-top: 5vh;
				margin-bottom: 5vh;
			}

			a {
				@include media(desktop,tablet) {
					margin-bottom: 20px;
				}
			}

			.img-shadow-bl {
				width: 90%;
				margin: auto auto 30px auto;
				box-shadow: -30px 30px $dddark-blue, -35px 35px $santas-gray;
			}

		}
    }

	> .logo-slideshow-container {
        background-color: $white;
        padding: 2vh 0vw;
		> .logo-slideshow {
			height: 125px;
			max-width: 100vw;
			margin: 0vh 0vw;
			overflow: hidden;
			border-top: rgb(252,252,252) 1px solid;
			border-bottom: rgb(252,252,252) 1px solid;
			> div {
				height: 125px;
				width: 7000px;
				background: url(../images/LOGOS_PARTNER/125-slideshow.png);
				background-size: auto auto;
				animation: moveSlideshow 100s linear infinite;
			}
		}
    }
}

// LOGIN PAGE
#login_page {
	> .container {
		min-height: 82vh;
		padding-top: 6vh;
		padding-bottom: 6vh;

		> .login-page {
			min-height: 82vh;
			background-color: $white;
		}
	}
}

// PUBLICATION PAGE
#publications_page {
	> .container {
		min-height: 82vh;
		padding-top: 6vh;
		padding-bottom: 6vh;

		> .publications-page {
			min-height: 82vh;
			background-color: $white;
		}
	}
}

// MAP PAGE
#map_page {
	> .container {
		min-height: 82vh;
		padding-top: 6vh;
		padding-bottom: 6vh;

		> .map-page {
			min-height: 82vh;
			background-color: $white;
		}
	}
}

// PARTNERS PAGE
#partners_page {
	min-height: 82vh;
	padding-bottom: 6vh;

	> .container {
		.partners-page-content {
			background-color: $white;
        	padding: 1vh 3vw;
			> .partners-item {
				margin: 1vh 0vw;
				> .card {
					background-color: rgb(244,243,241);
					border: none;
					border-radius: 0;
					min-height: 100%;
					margin: 0vh 1vw;
					.card-img-top {
						padding: 0vh 0vw;
						border-radius: 0;
						height: 100%;
					}
					.card-body {
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						padding: 2vh 0.5vw;
						.card-title {
							color: $dddark-blue;
							background-color: $white;
							font-size: 9px;
							padding: 5px 6px 5px 6px;
							font-family: 'AvenirNextLTPro';
						}
					}
				}
			}
		}
	}
}

// PEOPLE PAGE
#people_page {
	min-height: 82vh;
	padding-bottom: 6vh;

	> .container {
		.people-page-content {
			background-color: $white;
			padding: 1vh 3vw;
			> .people-item {
				margin: 1vh 0vw;
				.card {
					background-color: rgb(244,243,241);
					border: none;
					border-radius: 0;
					min-height: 100%;
					margin: 0vh 1vw;
					.card-img-top {
						@include media(lg-desktop,desktop) {
							padding: 2vh 2vw;
						}
						@include media(tablet) {
							padding: 2vh 6vw;
						}
						@include media(phone) {
							padding: 2vh 10vw;
						}
					}
					.card-body {
						-ms-flex: 1 1 auto;
						flex: 1 1 auto;
						padding: 0vh 0.5vw 2vh 0.5vw;
						.card-title {
							color: $dddark-blue;
							background-color: $white;
							font-size: 9px;
							font-family: 'AvenirNextLTPro';
						}
					}
				}
			}
		}
	}
}

// OBJECTIVES PAGE
#objectives_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
        @include media(lg-desktop) {
			padding: 0vh 4vw 2vh 4vw;
		}
		@include media(desktop) {
			padding: 0vh 3vw 3vh 3vw;
		}
		@include media(tablet) {
			padding: 0vh 6vw;
		}
		@include media(phone) {
			padding: 0vh 4vw 3vh 4vw;
		}
		.objectives-page-content {
			margin-bottom: 2vh;
			.caption-img {
				color: $white;
				font-size: 9px;
				position: absolute;
				font-family: 'AvenirNextLTPro';
				z-index: 2;
				@include media(lg-desktop) {
					margin-top: 10px;
				}
				@include media(desktop) {
					margin-top: 6px;
				}
				@include media(tablet) {
					margin-top: 0.2vh;
        			margin-left: 3vw;
				}
				@include media(phone) {
					margin-top: 5vh;
        			margin-left: 6vw;
				}
			}
			.img-shadow-tl {
				@include media(lg-desktop) {
					box-shadow: -30px -22px $dddark-blue, -26px -18px $santas-gray;
				}
				@include media(desktop) {
					box-shadow: -20px -20px $dddark-blue, -24px -14px $santas-gray;
				}
				@include media(tablet) {
					box-shadow: -13px -23px $dddark-blue, -16px -18px $santas-gray;
				}
				@include media(phone) {
					margin-left: 4vw;
					margin-top: 4vh;
					box-shadow: -13px -23px $dddark-blue, -16px -18px $santas-gray;
				}
			}
			.objectives-page-text {
				font-size: 11px;
				color: $dddark-blue;
			}
		}
    }
}

// ABOUT THIS SITE PAGE
#about_this_site_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
		width: 800px;
    	background-color: rgb(252,252,252);
		.about_this_site-page-content {
			background-color: $white;
			margin: 3vh 5vw;
			padding: 3vh 3vw;
			.card-body {
				background-color: rgb(244,243,241);
				p {
					font-size: 10px;
					color: $dddark-blue;
					font-family: Calibri;
			   }
			}
			.page-title {
				background-color: rgb(244,243,241);
		   }
		}
	}
}

// CAPACITY BUILDING PAGE
#capacitybuildings_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
        background-color: $white;
		@include media(lg-desktop) {
			padding: 0vh 3vw 2vh 3vw;
		}
        @include media(desktop, tablet, phone) {
			padding: 0vh 3vw 3vh 3vw;
			.title {
				height: 8vh;
			}
		}
		.row {
			display: flex;
			flex-direction: row;
			@include media(desktop, tablet, phone) {
				justify-content: space-between;
			}
			.card-item {
				background-color: rgb(244,243,241);
				background-clip: content-box;
				@include media(lg-desktop) {
					padding: 0vh 1vw;
					margin-bottom: 2vh;
				}
				@include media(desktop,tablet) {
					padding: 0vh 3vw;
					margin-top: 2vh;
					margin-bottom: 2vh;
				}
				@include media(phone) {
					padding: 2vh 4vw;
				}
			}
			.capacity-card {
				background-color: rgb(244,243,241);
				border: none;
				.card-body {
					padding: 10px 15px 20px 15px;
					> a {
						color: $dddark-blue;
						> .card-title {
							display: flex;
							margin: 5px 0px;
							background-color: $white;
							@include media(lg-desktop,desktop,tablet) {
								height: 40px;
							}
							@include media(phone) {
								height: 30px;
							}
							> div {
								font-size: 9px;
								text-align: center;
								margin: auto;
							}
						}
					}
					> p {
						font-size: 10px;
						color: $dddark-blue;
						margin-bottom: 0vh;
						@include media(lg-desktop,desktop,tablet) {
							padding-top: 1vh;
						}
					}
					> ul {
						font-size: 10px;
						color: $dddark-blue;
						margin: 0;
						@include media(lg-desktop) {
							padding: 1vh 0vw;
						}
						@include media(desktop,tablet) {
							padding: 1vh 2vw;
						}
						@include media(phone) {
							padding: 0vh 2vw;
						}
					}
					ul.dashed {
						list-style-type: none;
						> li {
							text-indent: -7px;
							padding-right: 10px;
						}
						> li:before {
							content: "-";
							text-indent: -7px;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}
}

// ACTIVITIES PAGE
#activities_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
        background-color: $white;
		@include media(lg-desktop) {
			padding: 0vh 3vw 2vh 3vw;
		}
        @include media(desktop, tablet, phone) {
			padding: 0vh 3vw 3vh 3vw;
		}
		.row {
			display: flex;
			flex-direction: row;
			> .card-item {
				background-color: rgb(244,243,241);
				background-clip: content-box;
				@include media(lg-desktop) {
					padding: 0vh 1vw;
					margin-bottom: 2vh;
				}
				@include media(desktop,tablet) {
					padding-left: 1vw;
        			padding-right: 1vw;
					margin-top: 2vh;
					margin-bottom: 2vh;
				}
				@include media(phone) {
					padding: 2vh 4vw;
				}
			}
			.activity-card {
				background-color: rgb(244,243,241);
				border: none;
				> .card-body {
					padding: 10px 15px 20px 15px;
					> a {
						color: $dddark-blue;
						> .card-title {
							display: flex;
							height: 40px;
							margin: 5px 0px;
							background-color: $white;
							> div {
								font-size: 9px;
								text-align: center;
								margin: auto;
							}
						}
					}
					> p {
						font-size: 10px;
						color: $dddark-blue;
						padding-top: 1vh;
						margin-bottom: 0vh;
					}
					> ul {
						font-size: 10px;
						color: $dddark-blue;
						margin: 0;
						@include media(lg-desktop) {
							padding: 1vh 0vw;
						}
						@include media(desktop, tablet) {
							padding: 1vh 2vw;
						}
						@include media(phone) {
							padding: 0vh 2vw;
						}
					}
					ul.dashed {
						list-style-type: none;
						> li {
							text-indent: -7px;
							padding-right: 10px;
						}
						> li:before {
							content: "-";
							text-indent: -7px;
							padding-right: 10px;
						}
					}
				}
			}
		}
    }
}

//  DETAILED CONTACT PAGE
#detailed_contact_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
        width: 700px;
        min-height: 82vh;
        background-color: rgb(252,252,252);
		> .content {
			background-color: $white;
			@include media(lg-desktop) {
				margin: 2vh 0vw;
			}
			@include media(desktop,tablet,phone) {
				margin: 3vh 0vw;
			}
			> .row {
				margin: 3vh 2vw;
				background-color: rgb(244,243,241);
				@include media(lg-desktop) {
					padding: 5vh 2vw;
				}
				@include media(desktop,tablet,phone) {
					padding: 3vh 2vw;
				}
				p {
					font-size: 10px;
					color: $dddark-blue;
					@include media(lg-desktop) {
						padding: 1vh 4vw;
					}
					@include media(desktop,tablet,phone) {
						padding: 1vh 2vw;
					}
				}
			}
		}
    }
}

// DETAILED PARTNER PAGE
#detailed_partner_page {
	min-height: 82vh;
	padding-bottom: 6vh;
	> .container {
        width: 700px;
        min-height: 82vh;
        background-color: rgb(252,252,252);
		> .content {
			background-color: $white;
			@include media(lg-desktop) {
				margin: 2vh 0vw;
			}
			@include media(desktop,tablet,phone) {
				margin: 3vh 0vw;
			}
			> .row {
				margin: 3vh 4vw;
				background-color: rgb(244,243,241);
				@include media(lg-desktop) {
					padding: 5vh 2vw;
				}
				@include media(desktop,tablet,phone) {
					padding: 3vh 2vw;
				}
				> .img {
					max-height: 30vh;
				}
				p {
					font-size: 10px;
					color: $dddark-blue;
					@include media(lg-desktop) {
						padding: 1vh 4vw;
					}
					@include media(desktop,tablet,phone) {
						padding: 1vh 2vw;
					}
				}
				#detailed_partner_page_title {
					padding: 2vh 0vw;
				}
				#detailed_partner_page_fst_paragraph {
					padding-left: 2vw;
				}
			}
		}
    }
}
