@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../fonts/avenir-next-lt-pro-regular_IF5h0/AvenirNextLTProRegular.otf);
}
@font-face {
  font-family: "Corbel";
  src: url(../fonts/corbel/CORBEL.TTF);
}
@font-face {
  font-family: "LucidaBright";
  src: url(../fonts/lucida-bright/LBRITE.TTF);
}
body {
  height: 100%;
}
body .page {
  background-color: var(--grey);
}
@media (min-width: 1200px) {
  body .page {
    margin-top: 12vh;
    margin-bottom: 6vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body .page {
    margin-top: 12vh;
    margin-bottom: 6vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body .page {
    margin-top: 10vh;
    margin-bottom: 4vh;
  }
}
@media (max-width: 767px) {
  body .page {
    margin-top: 2vh;
    margin-bottom: 6vh;
  }
}

#navbar-top {
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  #navbar-top {
    max-height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top {
    max-height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top {
    max-height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
@media (max-width: 767px) {
  #navbar-top .navbar-nav {
    width: 200px;
  }
}
#navbar-top .active-background .nav-parent:hover {
  background-color: #e4e2dd;
}
#navbar-top > nav {
  border-bottom: 1px solid #516284;
}
@media (min-width: 1200px) {
  #navbar-top > nav {
    align-items: end;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav {
    align-items: end;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav {
    align-items: end;
  }
}
@media (min-width: 1200px) {
  #navbar-top > nav {
    margin: 0 5vw;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav {
    margin: 0 2vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav {
    margin: 0 1vw;
  }
}
@media (max-width: 767px) {
  #navbar-top > nav {
    margin: 0 2.5vw;
  }
}
#navbar-top > nav .nav-item-text {
  font-size: 11px;
  color: #516284;
  font-family: "AvenirNextLTPro";
  padding: 10px 20px;
}
@media (min-width: 1200px) {
  #navbar-top > nav .nav-item-text {
    width: 120px;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav .nav-item-text {
    width: 120px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav .nav-item-text {
    width: 120px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #navbar-top > nav .nav-item-text {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  #navbar-top > nav .dropdown {
    width: 120px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav .dropdown {
    width: 120px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav .dropdown {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  #navbar-top > nav .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}
@media (min-width: 1200px) {
  #navbar-top > nav .my-custom-dropdown-menu {
    margin: 0;
    min-width: 120px;
    border-left-width: 0;
    border-right-width: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav .my-custom-dropdown-menu {
    margin: 0;
    min-width: 120px;
    border-left-width: 0;
    border-right-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav .my-custom-dropdown-menu {
    margin: 0;
    min-width: 120px;
    border-left-width: 0;
    border-right-width: 0;
  }
}
#navbar-top > nav .my-custom-dropdown-menu > .nav-item:hover {
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #d7dade;
}
@media (min-width: 1200px) {
  #navbar-top > nav > a > img {
    max-height: 8vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > nav > a > img {
    max-height: 8vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > nav > a > img {
    max-height: 4vh;
  }
}
@media (max-width: 767px) {
  #navbar-top > nav > a > img {
    max-height: 4vh;
  }
}
@media (min-width: 1200px) {
  #navbar-top > .shrink {
    align-items: end;
    background-color: #ffffff;
    padding-bottom: 1vh;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > .shrink {
    align-items: end;
    background-color: #ffffff;
    padding-bottom: 1vh;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > .shrink {
    align-items: end;
    background-color: #ffffff;
    padding-bottom: 1vh;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  #navbar-top > .shrink > a > img {
    max-height: 5vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > .shrink > a > img {
    max-height: 5vh;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > .shrink > a > img {
    max-height: 4vh;
  }
}
@media (min-width: 1200px) {
  #navbar-top > .shrink .nav-item-text {
    font-size: 11px;
    width: 120px;
    color: #516284;
    padding: 10px 20px;
    transition: all ease-in-out;
    text-align: center;
    font-family: "AvenirNextLTPro";
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > .shrink .nav-item-text {
    font-size: 11px;
    width: 120px;
    color: #516284;
    padding: 10px 20px;
    transition: all ease-in-out;
    text-align: center;
    font-family: "AvenirNextLTPro";
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > .shrink .nav-item-text {
    font-size: 11px;
    width: 120px;
    color: #516284;
    padding: 10px 20px;
    transition: all ease-in-out;
    text-align: center;
    font-family: "AvenirNextLTPro";
  }
}
@media (min-width: 1200px) {
  #navbar-top > .shrink .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #navbar-top > .shrink .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #navbar-top > .shrink .nav-child {
    text-align: left;
    padding: 5px;
    background-color: #e4e2dd;
  }
}

#navbar-bottom {
  background-color: #d7dade;
  height: 6vh;
}
#navbar-bottom .nav-link-bottom {
  font-size: 10px;
  color: #ffffff;
  padding: 0vh 3.5vw;
  font-family: "AvenirNextLTPro";
}

@media (min-width: 1200px) {
  .sticky {
    display: block;
    z-index: 1026;
    position: fixed;
  }
  .sticky .sticky-item {
    font-size: 10px;
    color: white;
    min-width: 36px;
    background: #7b869d;
    box-shadow: -0.5vh 0.5vh rgba(0, 0, 0, 0.3);
    font-family: "Corbel";
  }
  .sticky .sticky-item .sticky-text {
    font-size: 7px;
  }
  .sticky .sticky-contact > div {
    padding: 1vh 0.5vw;
  }
  .sticky .sticky-contact img {
    max-width: 100px;
  }
  .sticky .sticky-contact p {
    font-size: 9px;
    color: #516284;
    font-family: "Corbel";
  }
  .sticky .sticky-contact button {
    background-color: #516284;
    color: #ffffff;
    font-size: 8px;
    width: 100%;
    font-family: "AvenirNextLTPro";
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sticky {
    display: block;
    z-index: 1026;
    position: fixed;
  }
  .sticky .sticky-item {
    font-size: 10px;
    color: white;
    min-width: 36px;
    background: #7b869d;
    box-shadow: -0.5vh 0.5vh rgba(0, 0, 0, 0.3);
    font-family: "Corbel";
  }
  .sticky .sticky-item .sticky-text {
    font-size: 7px;
  }
  .sticky .sticky-contact > div {
    padding: 1vh 0.5vw;
  }
  .sticky .sticky-contact img {
    max-width: 100px;
  }
  .sticky .sticky-contact p {
    font-size: 9px;
    color: #516284;
    font-family: "Corbel";
  }
  .sticky .sticky-contact button {
    background-color: #516284;
    color: #ffffff;
    font-size: 8px;
    width: 100%;
    font-family: "AvenirNextLTPro";
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sticky {
    display: none;
  }
}
@media (max-width: 767px) {
  .sticky {
    display: none;
  }
}

#sticky-right-contact {
  top: 15vh;
  right: 0;
}

#sticky-right-link {
  bottom: 15vh;
  right: 0;
}

#sticky-left-contact {
  left: 0;
  top: 15vh;
}

/*# sourceMappingURL=output.css.map */
