



/* This is for making unorder list style to dash */
ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -7px;
    padding-right: 10px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -7px;
    padding-right: 10px;
}

@media (min-width: 1200px) {

    #capacitybuildings_page {
        min-height: 82vh;
        padding: 2vh 0vw;
    }

    #capacitybuildings_page h5 {
        font-size: 12px;
    }

    #capacitybuildings_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 2vh 3vw;
        width: 1000px;
    }

    #capacitybuildings_page > .container .row {
      display: flex;
      flex-direction: row;
    }

    #capacitybuildings_page > .container .row > .card-item {
        padding: 0vh 1vw;
        background-color: var(--grey);
        background-clip: content-box;
        margin-bottom: 2vh;
    }

    #capacitybuildings_page > .container .row .capacity-card {
        background-color: var(--grey);
        border: none;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body {
        padding: 10px 15px 20px 15px;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > a {
        color: var(--dddark-blue);
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding-top: 1vh;
        margin-bottom: 0vh;
    }

    #capacitybuildings_page > .container .row .capacity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 0vw;
    }

    #activities_page {
        min-height: 82vh;
        padding: 2vh 0vw;
    }

    #activities_page h5 {
        font-size: 12px;
    }

    #activities_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 2vh 3vw;
        width: 1000px;
    }

    #activities_page > .container .row {
        display: flex;
        flex-direction: row;
      }

    #activities_page > .container .row > .card-item {
        padding: 0vh 1vw;
        background-color: var(--grey);
        background-clip: content-box;
        margin-bottom: 2vh;
    }

    #activities_page > .container .row .activity-card {
        background-color: var(--grey);
        border: none;
    }

    #activities_page > .container .row .capacity-card > .card-body {
        padding: 10px 15px 20px 15px;
    }

    #activities_page > .container .row .activity-card > .card-body > a {
        color: var(--dddark-blue);
    }

    #activities_page > .container .row .activity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }

    #activities_page > .container .row .activity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }

    #activities_page > .container .row .activity-card > .card-body > p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding-top: 1vh;
        margin-bottom: 0vh;
    }

    #activities_page > .container .row .activity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 0vw;
    }

    #detailed_contact_page > .container {
        width: 700px;
        min-height: 82vh;
        background-color: var(--grey);
    }

    #detailed_contact_page > .container > .content {
        margin: 2vh 0vw;
        background-color: var(--white);
    }

    #detailed_contact_page > .container > .content > .row {
        margin: 3vh 2vw;
        padding: 5vh 2vw;
        background-color: var(--grey);
    }

    #detailed_contact_page > .container > .content > .row p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 4vw;
    }

    #detailed_partner_page > .container {
        width: 700px;
        min-height: 82vh;
        background-color: var(--grey);
    }

    #detailed_partner_page > .container > .content {
        margin: 3vh 0vw;
        background-color: var(--white);
    }

    #detailed_partner_page > .container > .content > .row {
        margin: 3vh 4vw;
        padding: 3vh 2vw;
        background-color: var(--grey);
    }

    #detailed_partner_page > .container > .content > .row > .img {
        max-height: 30vh;
    }

    #detailed_partner_page > .container > .content > .row p {
        font-size: 10px;
        color: var(--dddark-blue);
    }

    #detailed_partner_page_title {
        padding: 2vh 0vw;
    }

    #detailed_partner_page_fst_paragraph {
        padding-left: 2vw;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
    #capacitybuildings_page {
      min-height: 82vh;
      padding-top: 6vh;
    }
  
    #capacitybuildings_page h5 {
      font-size: 12px;
    }
  
    #capacitybuildings_page>.container {
      background-color: var(--white);
      padding: 0vh 3vw 3vh 3vw;
      width: 900px;
    }
  
    #capacitybuildings_page>.container .title {
      height: 8vh;
    }
  
    #capacitybuildings_page>.container .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    #capacitybuildings_page>.container .row>.card-item {
      margin-top: 2vw;
      margin-bottom: 2vw;
      background-color: var(--grey);
      background-clip: content-box;
    }
  
    #capacitybuildings_page>.container .row .capacity-card {
      background-color: var(--grey);
      border: none;
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a {
      color: var(--dddark-blue);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #capacitybuildings_page>.container .row .capacity-card>.card-body>p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 0vw;
    }
  
    #capacitybuildings_page>.container .row .capacity-card>.card-body>ul {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 0vw;
    }
  
    #activities_page {
      min-height: 82vh;
      padding-top: 6vh;
      padding-bottom: 6vh;
    }
  
    #activities_page h5 {
        font-size: 12px;
    }
  
    #activities_page>.container {
      background-color: var(--white);
      padding: 0vh 3vw 3vh 3vw;
      width: 900px;
    }
  
    #activities_page > .container .row {
        display: flex;
        flex-direction: row;
    }
  
    #activities_page>.container .row>.card-item {
      padding: 0vh 1vw;
      margin-bottom: 2vw;
      background-color: var(--grey);
      background-clip: content-box;
    }
  
    #activities_page>.container .row .activity-card {
      background-color: var(--grey);
      border: none;
    }
  
    #activities_page > .container .row .capacity-card > .card-body {
        padding: 10px 15px 20px 15px;
    }
  
    #activities_page>.container .row .activity-card > .card-body > a {
      color: var(--dddark-blue);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #activities_page > .container .row .activity-card > .card-body > p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding-top: 1vh;
        margin-bottom: 0vh;
    }
  
    #activities_page>.container .row .activity-card>.card-body>ul {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  
    #detailed_contact_page>.container {
      min-width: 50vw;
      max-width: 50vw;
      min-height: 82vh;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_contact_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  
    #detailed_partner_page>.container {
      min-width: 50vw;
      max-width: 50vw;
      min-height: 82vh;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_partner_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
  
    #capacitybuildings_page {
        padding-top: 4vh;
        padding-bottom: 4vh;
        min-height: 82vh;
    }
  
    #capacitybuildings_page h5 {
      font-size: 12px;
    }
  
    #capacitybuildings_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
        width: 600px;
    }
  
    #capacitybuildings_page > .container .title {
        height: 8vh;
    }
  
    #capacitybuildings_page > .container .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    #capacitybuildings_page > .container .row > .card-item {
        padding: 0vh 3vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: var(--grey);
        background-clip: content-box;
    }
  
    #capacitybuildings_page > .container .row .capacity-card {
        background-color: var(--grey);
        border: none;
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a {
      color: var(--dddark-blue);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }
  
    #activities_page {
        padding-top: 4vh;
        padding-bottom: 4vh;
        min-height: 82vh;
    }
  
    #activities_page h5 {
        font-size: 12px;
    }
  
    #activities_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
        width: 600px;
    }
  
    #activities_page > .container .row {
        display: flex;
        flex-direction: row;
    }
  
    #activities_page > .container .row > .card-item {
        padding-left: 1vh;
        padding-right: 1vh;
        margin-top: 2vw;
        margin-bottom: 2vw;
        background-color: var(--grey);
        background-clip: content-box;
    }
  
    #activities_page > .container .row .activity-card {
        background-color: var(--grey);
        border: none;
    }
  
    #activities_page > .container .row .capacity-card > .card-body {
        padding: 10px 15px 20px 15px;
    }
  
    #activities_page > .container .row .activity-card > .card-body > a {
        color: var(--dddark-blue);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #activities_page > .container .row .activity-card > .card-body > p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }
  
    #activities_page > .container .row .activity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 1vh 2vw;
    }
  
    #detailed_contact_page>.container {
      width: 600px;
      min-height: 86vh;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_contact_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  
    #detailed_partner_page>.container {
      width: 600px;
      min-height: 86vh;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_partner_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  }

  @media (max-width: 767px) {
  
    #capacitybuildings_page {
        padding: 5vh 6vw;
        min-height: 82vh;
    }
  
    #capacitybuildings_page h5 {
      font-size: 12px;
    }
  
    #capacitybuildings_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
    }
  
    #capacitybuildings_page > .container .title {
        height: 8vh;
    }
  
    #capacitybuildings_page > .container .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    #capacitybuildings_page > .container .row > .card-item {
        padding: 2vh 4vw;
        background-color: var(--grey);
        background-clip: content-box;
    }
  
    #capacitybuildings_page > .container .row .capacity-card {
        background-color: var(--grey);
        border: none;
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a {
        color: var(--dddark-blue);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title {
        display: flex;
        height: 30px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #capacitybuildings_page>.container .row .capacity-card>.card-body>p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 0vh 0vw;
    }
  
    #capacitybuildings_page > .container .row .capacity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 0vh 2vw;
    }
  
    #activities_page {
        padding: 5vh 6vw;
        min-height: 82vh;
    }
  
    #activities_page h5 {
        font-size: 12px;
    }
  
    #activities_page > .container {
        background-color: var(--white);
        padding: 0vh 3vw 3vh 3vw;
    }
  
    #activities_page > .container .row {
        display: flex;
        flex-direction: row;
    }
  
    #activities_page > .container .row > .card-item {
        padding: 2vh 4vw;
        background-color: var(--grey);
        background-clip: content-box;
    }
  
    #activities_page > .container .row .activity-card {
        background-color: var(--grey);
        border: none;
    }
  
    #activities_page > .container .row .capacity-card > .card-body {
        padding: 10px 15px 20px 15px;
    }
  
    #activities_page > .container .row .activity-card > .card-body > a {
        color: var(--dddark-blue);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title {
        display: flex;
        height: 40px;
        margin: 5px 0px;
        background-color: var(--white);
    }
  
    #activities_page > .container .row .activity-card > .card-body > a > .card-title > div {
        font-size: 9px;
        text-align: center;
        margin: auto;
    }
  
    #activities_page > .container .row .activity-card > .card-body > p {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 0vh 2vw;
    }
  
    #activities_page > .container .row .activity-card > .card-body > ul {
        font-size: 10px;
        color: var(--dddark-blue);
        padding: 0vh 2vw;
    }
  
    #detailed_contact_page>.container {
      min-height: 82vh;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_contact_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_contact_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  
    #detailed_partner_page>.container {
      min-height: 82vh;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content {
      margin: 3vh 0vw;
      background-color: var(--white);
    }
  
    #detailed_partner_page>.container>.content>.row {
      margin: 3vh 2vw;
      padding: 3vh 2vw;
      background-color: var(--grey);
    }
  
    #detailed_partner_page>.container>.content>.row p {
      font-size: 10px;
      color: var(--dddark-blue);
      padding: 1vh 2vw;
    }
  }
  
  