body {
    height: 100%;
}

.logo {
    max-height: 50px;
    min-height: 30px;
}

.sticky-right {
    position: fixed;
    right: 0;
    top: 15vh;
}

.primary-page {
    margin-bottom: 10vh;
}

@media (max-width: 768px) {
    .sticky-right {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .sticky-right {
        display: block;
    }
}

.bg-color{
  background-color: #DCDCDC;
}
