:root {
    --dddark-blue:#516284;
    --lynch: #7b869d;
    --santas-gray: #a3a4b0;
    --iron: #c0c4c5;
    --grey: #e4e2dd;
    --card-background: #f4f3f1;
}

/* GENERAL - SETTINGS */

body {
    height: 100%;
}

h5 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 3vh;
    color: var(--dddark-blue);
}

/* ------------------ */

/* NAVBAR-TOP */


/* ------------------ */

/* HOME PAGE  */

#frontpageCarousel > .carousel-control-prev,
#frontpageCarousel > .carousel-control-next {
    background-color: white;
    opacity: 0.4;
    width: 33.33%;
}

#frontpageCarousel > .carousel-control-prev:hover,
#frontpageCarousel > .carousel-control-next:hover {
    background-color: white;
    opacity: 0.4;
    width: 33.33%;
}

.carousel-title {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 22px;
    color: white;
}

/* ----------------- */

.sticky-right {
    position: fixed;
    right: 0;
    top: 15vh;
}

.border-radius-none {
    border-radius: 0%;
}

.sticky-left {
    position: fixed;
    left: 0;
    top: 15vh;
}

.ddb-background {
    background-color: var(--dddark-blue);
}

.text-color-ddb {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: var(--dddark-blue);
}

.caption-img {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: white;
}

.z-index-2 {
    z-index: 2;
}

.sticky-item {
    font-family: 'Calibri';
    font-size: 10px;
    color: white;
    min-width: 36px;
}

.btn {
    background: var(--dddark-blue);
}

.btn-more {
    background: var(--santas-gray);
    color: white;
    font-size: 10px;
    border-radius: 0;
}

h6 {
    font-family: 'Avenir Next LT Pro';
    font-size: 12px;
    color: var(--dddark-blue);
}

.news-card {
    background-color: var(--dddark-blue);
    color: white;
    font-size: medium;
    font-family: 'Calibri';
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25 rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card {
    border: none;
}

.card-border {
    border: 1px solid var(--dddark-blue);
}

.boxed {
    border: 1px var(--dddark-blue) solid;
}

.hover-zoom:hover img {
    transform: scale(1.5);
    transition: all .2s linear;
}

.img-shadow-tl {
    box-shadow: -30px -30px var(--dddark-blue);
}

.img-shadow-bl {
    box-shadow: -30px 30px var(--dddark-blue);
}

#partner-carousel > .carousel-inner .carousel-item.active,
#partner-carousel > .carousel-inner .carousel-item-next,
#partner-carousel > .carousel-inner .carousel-item-prev {
    display: flex;
}

#partner-carousel > .carousel-inner .carousel-item-right.active,
#partner-carousel > .carousel-inner .carousel-item-next {
    transform: translateX(8.33%);
}

#partner-carousel > .carousel-inner .carousel-item-left.active,
#partner-carousel > .carousel-inner .carousel-item-prev {
    transform: translateX(8.33%);
}

@media (min-width: 1200px) {
    .sticky-right {
        display: block;
    }
    .sticky-left {
        display: block;
    }

    #partner-carousel > .carousel-inner .carousel-item-right.active,
    #partner-carousel > .carousel-inner .carousel-item-next {
        transform: translateX(8.33%);
    }

    #partner-carousel > .carousel-inner .carousel-item-left.active,
    #partner-carousel > .carousel-inner .carousel-item-prev {
        transform: translateX(-8.33%);
    }
}

#partner-carousel > .carousel-inner .carousel-item-right,
#partner-carousel > .carousel-inner .carousel-item-left{
    transform: translateX(0);
}

/* This is for the carousel */
/* The solution here is adapted from the answer @
https://stackoverflow.com/questions/61282035/fixing-a-bootstrap-4-multiple-item-carousel-on-xl-screen */
#frontpageCarousel > .carousel-inner .carousel-item.active,
#frontpageCarousel > .carousel-inner .carousel-item-next,
#frontpageCarousel > .carousel-inner .carousel-item-prev {
    display: flex;
}

#frontpageCarousel > .carousel-control-next {
    justify-content: right;
}

#frontpageCarousel > .carousel-control-prev {
    justify-content: left;
}

#frontpageCarousel > .carousel-inner .carousel-item-right.active,
#frontpageCarousel > .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

#frontpageCarousel > .carousel-inner .carousel-item-left.active,
#frontpageCarousel > .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
}

#frontpageCarousel > .carousel-inner .carousel-item-right,
#frontpageCarousel > .carousel-inner .carousel-item-left{
    transform: translateX(0);
}
.search-btn{
  color: grey;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
}
.search-box:hover > .search-text{
  width: 200px;
}
.search-text{
  border: none;
  outline: none;
  font-size: 16px;
  width: 0px;
  transition: 0.8s linear;
}
.search-text: focus{
  outline: none;
}

.active-background, .nav-parent:hover{
  background-color: var(--grey);
  font-weight: 900;
}

.dropdown:hover .dropdown-menu{
  display: block; transition: all 0.8s ease-in-out;
}

.bg-card{
  background-color: var(--card-background);
}

#sticky-right > .redirect-page-anchor {
    margin-bottom: 20vh;
}